<div class="loading" *ngIf="loading">
  <span class="dots-loader">Loading…</span>
</div>
<div class="page-signin">
  <div class="signin-body" style="border-top: none;">
    <div class="container">
      <div class="logbg clearfix">
        <div class="text-center">
          <section class="logo">
            <a href="javascript: void 0"><img style="width:20%;margin-bottom:60px;"
                                              [src]="logo"></a>
          </section>
        </div>
        <div class="qrcode">
          <img [src]="qrcode">
          <span>扫一扫下载</span>
          <span>开启云端新体验</span>
        </div>
        <div class="form-container" style="width: 50%; float: left;">

          <form class="form-horizontal logform" *ngIf="active"  (ngSubmit)="gotoDashboard()" #loginForm="ngForm">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                  <input type="text"
                         class="form-control logborder"
                         placeholder="用户名"
                         [(ngModel)]="userInfo.username"
                         name="username"
                         #username="ngModel"
                         required
                         autofocus
                  >
                </div>
                <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                  账号必须填写
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                  <input type="password"
                         class="form-control logborder"
                         placeholder="密码"
                         [(ngModel)]="userInfo.password"
                         name="password"
                         #password="ngModel"
                         required
                  >
                </div>
              </div>
              <div class="form-group">
                <label class="remember">
                  <input type="checkbox" ng-model="loginState"
                         ng-change="loginStateChanged()">
                  记住登录状态
                </label>
              </div>
              <div class="form-group">
                <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-orange btn-lg btn-block">
                  登陆
                </button>
              </div>
            </fieldset>
          </form>

          <section>
            <p class="" style="line-height: 40px;width: 75%;"><a href="#/forgot">忘记密码?</a>
                        <span class="text-muted " style="float: right;">没有账号?<a (click)="gotoSignup()">
                            立即注册</a></span></p>

          </section>

        </div>
      </div>
    </div>
  </div>
  <div class="signin-body text-center" style="border-top: none;">
    &copy;淘气档口信息技术有限公司
  </div>
</div>
