<!--
<div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 100;
    opacity: 0.4; background-color: #000; color: #ec971f;"
    ng-show="loading">
    <div class="color-orange text-center" style="margin-top: 200px; width: 100%;">
        <i class="fa fa-spinner fa-spin fa-3x" style="opacity: 1"></i>
    </div>
</div>
-->

<div class="loading" *ngIf="loading">
  <span class="dots-loader">Loading…</span>
</div>

<div class="page-signin">
  <div class="signin-body" style="border-top: none;">
  </div>


  <div class="signin-body" style="border-top: none;">
    <div class="container">
      <div class="logbg">
        <div class="text-center">
          <section class="logo">
            <a href="javascript: void 0"><img style="width:30%;margin-bottom:60px;"
                                              [src]="logoUrl"></a>
          </section>
        </div>
        <div class="form-container">

          <form class="form-horizontal" ng-submit="register()">
            <fieldset>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-home"></span>
                                </span>
                  <input type="text"
                         class="form-control logborder"
                         placeholder="公司名"
                         ng-model="company.name"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                  <input type="text"
                         class="form-control logborder"
                         placeholder="用户名"
                         ng-model="company.admin.userName"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                  <input type="password"
                         class="form-control logborder"
                         placeholder="密码"
                         ng-model="company.admin.password"
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-earphone"></span>
                                </span>
                  <input type="text"
                         class="form-control logborder"
                         placeholder="手机号"
                         ng-model="company.admin.mobile"
                  >

                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                                <span class="input-group-addon logicon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </span>
                  <input type="text"
                         class="form-control logborder"
                         placeholder="请输入短信验证码"
                         ng-model="company.code"
                  >
                                 <span class="input-group-addon btn btn-primary yzm" ng-click="getCode()" ng-disabled="getCoding">
                                    <span style="font-size: 16px;" class="glyphicon">{{tip}}{{time}}</span>
                                </span>


                </div>
              </div>
              <div class="form-group">
              </div>
              <div class="form-group" style="width:90%;margin:30px auto;">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  注册
                </button>
              </div>
            </fieldset>
          </form>
          <section>
            <p class="text-center text-muted ">已有账号? <a href="#/login">登录</a></p>
          </section>
          <!--
          <section>
              <p class="text-center"><a href="#/pages/forgot">忘记密码?</a></p>
              <p class="text-center text-muted text-small">没有账号? <a href="#/pages/signup">注册</a></p>
          </section>
          -->

        </div>
      </div>
    </div>
  </div>

  <div class="signin-body text-center" style="border-top: none;">
    &copy;江苏太湖云计算信息技术股份有限公司
  </div>

</div>
