<div class="loading" *ngIf="loading">
  <span class="dots-loader">Loading…</span>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="page">
  <div class="nav">
    <i class="fa fa-user header"></i><span class="card-title header-title">汽水组</span>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div  class="card-border"></div>
      <div class="form-search padding0">
        <div class="message-topic clearfix">
          <div class="pull-left list-title ml20">
            销售简报<span class="search"><i class="fa fa-question  search-size"></i></span>
            <ul class="select">
              <li class="nav-item" dropdown>
                <a class="nav-link small" href="javascript:void(0)" dropdownToggle>{{selectSalesMonthStr}} <span class="caret"></span></a>
                <ul class="dropdown-menu text-left" role="menu" aria-labelledby="single-button">
                  <li role="menuitem" *ngFor="let month of months"><a class="dropdown-item"  style="padding-left: 40px" (click)="selectSalesMonth(month)">{{month.monthStr}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="pull-right"><a class="btn" (click)="goToSalesReport()">查看详情</a></div>
        </div>
        <div class="page">
          <div class="row row-lh ml20 mt20">
            <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增客户<span class="m10">{{salesPresentation.newCustomer || 0}}</span>个
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增订单数<span class="m10">{{salesPresentation.orderQuantity || 0}}</span>个
            </div>
            <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12">
              拜访客户<span class="m10">{{salesPresentation.visitedCustomer || 0}}</span>个
            </div>
          </div>
          <div class="row row-lh ml20">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增成熟客户<span class="m10">{{salesPresentation.matureCustomer || 0}}</span>个
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增自营产品订单数<span class="m10">{{salesPresentation.selfOrderQuantity || 0}}</span>个
            </div>
          </div>
          <div class="row row-lh ml20">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增云修客户<span class="m10">{{salesPresentation.legendCustomer || 0}}</span>个
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增订单总金额<span class="m10">{{salesPresentation.orderAmount || 0}}</span>个
            </div>
          </div>
          <div class="row row-lh ml20">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增断约客户<span class="m10">{{salesPresentation.breakUpCustomer || 0}}</span>个
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
              新增自营产品订单总金额<span class="m10">{{salesPresentation.selfOrderAmount || 0}}</span>个
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div  class="card-border"></div>
      <div class="form-search padding0">
        <div class="message-topic clearfix">
          <div class="pull-left list-title ml20">
            客户数据<span class="search"><i class="fa fa-question  search-size"></i></span>
            <ul></ul>
          </div>
          <div class="pull-right"><a class="btn" (click)="goToCustomerData()">查看详情</a></div>
        </div>
        <div class="row mt20">
          <div class="col-md-6 col-xs-12 col-sm-12 ">
            <div class="page paddingr0">
              <div class="pin-bg">
                <br>
                <div id="main3" style="width: 100%;height:400px;"></div>
              </div>
            </div>
          </div>
          <!--<div class="col-md-6 col-xs-12 col-sm-12 ">-->
            <!--<div class="page paddingl0">-->
              <!--<div class="pin-bg">-->
                <!--<span>老客户转变机会</span>-->
                <!--<button  class="buy-site site btn btn-default" (click)="gotobuy()">十二月份已购买金额</button>-->
                <!--<button class="change-site site btn btn-default">老客户转变金额</button>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div  class="card-border"></div>
      <div class="form-search padding0">
        <div class="message-topic clearfix">
          <div class="pull-left list-title ml20">
            交易数据<span class="search"><i class="fa fa-question  search-size"></i></span>
            <ul class="select">
              <li class="nav-item" dropdown>
                <a class="nav-link small" href="javascript:void(0)" dropdownToggle>{{selectTransactionMonthStr}} <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                  <li role="menuitem" *ngFor="let month of months"><a class="dropdown-item"  style="padding-left: 40px" (click)="selectTransactionMonth(month)">{{month.monthStr}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="pull-right"><a class="btn" (click)="goToOrderData()">查看详情</a></div>
        </div>
        <div class="row mt20">
          <div class="col-md-6 col-xs-12 col-sm-12 ">
            <div class="page paddingr0">
              <div class="pin-bg">
                <br>
                <div id="main1" style="width: 100%;height:400px;"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12 col-sm-12 ">
            <div class="page paddingl0">
              <div class="pin-bg">
                <br>
                <div id="main2" style="width: 100%;height:400px;"></div>
                <button class="oneself-place place btn btn-default" (click)="createOwnerSalesType()">自营</button>
                <button class="other-place place btn btn-default"(click)="createUnOwnerSales()">非自营</button>
                <button class="all-place place btn btn-default" (click)="createSalesType()">全部</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

