.nav{
  height: 40px;
  line-height: 40px;
  background-color: #F6F6F6;
  margin-bottom: 20px;
}
.header{
  font-size: 2em;
}
.header-title{
  padding-left: 10px;
  font-size: 28px;
}
.card-border{
  width: 100%;
  height: 6px;
  background-color:#3C8DBC;
  /*-moz-border-radius:6px  6px 0px 0px;
  -webkit-border-radius:6px  6px 0px 0px;
  border-radius:6px 6px 0px 0px;*/
}
.message-topic{
  border-bottom:1px solid #dedede;
  width: 100%;
}
.padding0{
  padding: 0px;
}
.paddingl0{
  padding-left: 0px;
}
.paddingr0{
  padding-right: 0px;
}
.list-title{
  font-size: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.list-title .small{
  font-size: 16px;
}
.ml20{
  margin-left: 20px;
}
.search{
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color:#33475F;
  margin-top: 5px;
}
.search-size{
  position: absolute;
  left:4px;
  top:2px;
  font-size: 0.9em;
  color:#fff;
}
.m10{
  margin: 0 10px;
}
.row-lh{
  line-height: 2em;
  font-size: 15px;
}
.pin-bg{
  background-color: #F6F6F6;
  position: relative;
}
.site{
  position:absolute;

}
.buy-site{
  right:1%;top:35%;
}
.change-site{
  right:1%;top:50%;
}
.place{
  position:absolute;
}
.oneself-place{
  right: 5%;top:1%;
}
.oneself2-place{
  right: 0%;
  top:35%;
}
.other-place{
  right:5%;top:10%;
}
.all-place{
  right:5%;
  top:19%;
}
.select{
  display: inline-block;
}
.mt20{
  margin-top: 20px;
}
.mt8{
  margin-top: 8px;
}
/*button {
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
    border-radius:6px;
}*/
