html, body {
    height: 100%;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif
}
.active span {
    color: #31c0be !important;
}

.app-main {
    padding-top: 47px;
    margin-left: 180px;
    padding-left: 14px;
    padding-right: 14px;
    transform: translate3d(0, 0, 0);
    background-color: #f5f5f5;
}

.nav-min .app-main {
    padding-top: 47px;
    margin-left: 60px;
    padding-left: 14px;
    padding-right: 14px;
    transform: translate3d(0, 0, 0);
    background-color: #f5f5f5;
}

.is-active {
    color: #1fc8db!important;
}
#nav-container {
    z-index: 11;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: -180px;
    width: 180px;
    padding: 0;
    background-color: #242633;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
}
@media (min-width: 768px) {
    #nav-container {
        left: 0
    }
}

#nav-container ul {
    padding-left: 0;
    list-style: none
}

#nav-wrapper {
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    width: 100%;
    height: 100%
}

#nav {
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch
}

#nav > li > a > .nav-icon, #nav > li > a > i {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav {
    color: #767676
}

#nav a {
    font-size: 13px;
    color: #999;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav a:hover {
    text-decoration: none
}

#nav > li {
    position: relative;
    margin: 0;
    text-align: left;
    font-weight: 700;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav > li.open > a, #nav > li:hover > a {
    background-color: #191b24;
    color: #fafafa
}

#nav > li.open > .fa, #nav > li:hover > .fa {
    color: #fafafa
}

#nav > li.active > a {
    background-color: #31c0be;
    color: #fafafa
}

#nav > li.active > .fa {
    color: #fafafa
}

#nav > li:first-child > a {
    border-top: 0
}

#nav > li > a {
    position: relative;
    display: block;
    padding: 15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav > li > a > .badge {
    position: absolute;
    top: 16px;
    right: 5px
}

#nav > li > .icon-has-ul {
    position: absolute;
    top: 18px;
    right: 15px
}

#nav ul {
    background-color: #242633;
    display: none
}

#nav ul a {
    font-size: 13px
}

#nav ul li {
    position: relative;
    padding: 0
}

#nav ul li.active a, #nav ul li:hover a {
    color: #31c0be
}

#nav ul li:last-child > a {
    border-bottom: 0
}

#nav ul li > a {
    position: relative;
    display: block;
    padding: 13px 0 13px 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

#nav ul li > a:first-child {
    border-top: none
}

#nav ul li > a i.fa-caret-right {
    margin-right: 25px
}

#nav ul li > a > .badge {
    position: absolute;
    right: 5px;
    top: 12px
}

#nav-container {
    left: 0
}

@media (min-width: 768px) {
    .nav-min #nav-container {
        width: 60px
    }

    .nav-min #content {
        left: 60px
    }

    .nav-min .slimScrollDiv {
        overflow: visible !important;
        height: auto !important
    }

    .nav-min .slimScrollDiv .slimScrollBar, .nav-min .slimScrollDiv .slimScrollRail {
        display: none !important
    }

    .nav-min #nav, .nav-min #nav-wrapper {
        overflow: visible !important
    }

    .nav-min #nav > li > a {
        padding: 15px;
        text-align: center
    }

    .nav-min #nav > li > a > i {
        margin: 0;
        font-size: 20px
    }

    .nav-min #nav > li .icon-has-ul, .nav-min #nav > li > a > span {
        display: none
    }

    .nav-min #nav > li > ul {
        position: absolute;
        left: 100%;
        top: 0;
        width: 220px;
        -moz-border-radius-topright: 0;
        -webkit-border-top-right-radius: 0;
        border-top-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, .2);
        -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, .2);
        box-shadow: 1px 0 3px rgba(0, 0, 0, .2)
    }

    .nav-min #nav > li.open > ul, .nav-min #nav > li:hover > ul {
        display: block !important
    }
}

.card-container {
    background-color: #fff;
}


